---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:hello@damnkittyworks.com
Expires: 2027-08-01T00:00:00Z
Canonical: {{ site.url }}/.well-known/security.txt
Preferred-Languages: en
