---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set staticPaths = ["/", "/about/", "/posts/", "/builds/"] %}
  {% for path in staticPaths %}
  <url>
    <loc>{{ site.url }}{{ path }}</loc>
  </url>
  {% endfor %}
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
  </url>
  {% endfor %}
</urlset>
